<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jza.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.jza.view.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>com.jza.view.Success</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SuccessServlrt</servlet-name>
    <servlet-class>com.jza.web.controller.SuccessServlrt</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>com.jza.web.controller.CodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.jza.view.Register</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.jza.web.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.jza.web.controller.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Img1</servlet-name>
    <servlet-class>com.jza.web.controller.Img1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlbumCover0Servlet</servlet-name>
    <servlet-class>com.jza.web.controller.AlbumCover0Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlbumCover1Servlet</servlet-name>
    <servlet-class>com.jza.web.controller.AlbumCover1Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlbumCover2Servlet</servlet-name>
    <servlet-class>com.jza.web.controller.AlbumCover2Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlbumCover3Servlet</servlet-name>
    <servlet-class>com.jza.web.controller.AlbumCover3Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>com.jza.web.controller.PhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoBody0Servlet</servlet-name>
    <servlet-class>com.jza.web.controller.PhotoBody0Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoBody1Servlet</servlet-name>
    <servlet-class>com.jza.web.controller.PhotoBody1Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoBody2Servlet</servlet-name>
    <servlet-class>com.jza.web.controller.PhotoBody2Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoBody3Servlet</servlet-name>
    <servlet-class>com.jza.web.controller.PhotoBody3Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoBody4Servlet</servlet-name>
    <servlet-class>com.jza.web.controller.PhotoBody4Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewAlbumServlet</servlet-name>
    <servlet-class>com.jza.web.controller.NewAlbumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToAddPictureServlet</servlet-name>
    <servlet-class>com.jza.web.controller.ToAddPictureServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddPictureServlet</servlet-name>
    <servlet-class>com.jza.web.controller.AddPictureServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToAlterAlbumServlet</servlet-name>
    <servlet-class>com.jza.web.controller.ToAlterAlbumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlterAlbumServlet</servlet-name>
    <servlet-class>com.jza.web.controller.AlterAlbumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ToDeleteAlbum</servlet-name>
    <servlet-class>com.jza.web.controller.ToDeleteAlbum</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteAlbumServlet</servlet-name>
    <servlet-class>com.jza.web.controller.DeleteAlbumServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeletePhotoServlet</servlet-name>
    <servlet-class>com.jza.web.controller.DeletePhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.jza.web.controller.SearchServlet</servlet-class>
  </servlet>








 

















  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuccessServlrt</servlet-name>
    <url-pattern>/SuccessServlrt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/CodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Img1</servlet-name>
    <url-pattern>/Img1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumCover0Servlet</servlet-name>
    <url-pattern>/AlbumCover0Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumCover1Servlet</servlet-name>
    <url-pattern>/AlbumCover1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumCover2Servlet</servlet-name>
    <url-pattern>/AlbumCover2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlbumCover3Servlet</servlet-name>
    <url-pattern>/AlbumCover3Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/PhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoBody0Servlet</servlet-name>
    <url-pattern>/PhotoBody0Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoBody1Servlet</servlet-name>
    <url-pattern>/PhotoBody1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoBody2Servlet</servlet-name>
    <url-pattern>/PhotoBody2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoBody3Servlet</servlet-name>
    <url-pattern>/PhotoBody3Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoBody4Servlet</servlet-name>
    <url-pattern>/PhotoBody4Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewAlbumServlet</servlet-name>
    <url-pattern>/NewAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToAddPictureServlet</servlet-name>
    <url-pattern>/ToAddPictureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPictureServlet</servlet-name>
    <url-pattern>/AddPictureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToAlterAlbumServlet</servlet-name>
    <url-pattern>/ToAlterAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterAlbumServlet</servlet-name>
    <url-pattern>/AlterAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ToDeleteAlbum</servlet-name>
    <url-pattern>/ToDeleteAlbum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAlbumServlet</servlet-name>
    <url-pattern>/DeleteAlbumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePhotoServlet</servlet-name>
    <url-pattern>/DeletePhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Login</welcome-file>
  </welcome-file-list>
</web-app>